# Dependencies
node_modules/

# Expo
.expo/
web-build/
dist/

# Native builds
*.orig.*
ios/Pods/
ios/build/
*.xcworkspace
android/app/build/
android/build/
.gradle/

# Metro
.metro-health-check*

# Environment files
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
